@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  margin: 0 auto;
  max-width: 50em;
}

body {
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 4em 1em;
}

body {
  color: #566b78;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #e81c4f;
}

a:hover {
  color: #fff;
  background: #e81c4f;
}

header {
  background: #d17300; /* Fallback for browsers that do not support gradients */
  background: linear-gradient(to bottom right, yellow, #d17300);
  line-height: 1.2;
  padding: 2vw 2em;
  text-align: center;
}

header img {
  display: inline-block;
  vertical-align: top;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 700;
}

download ul {
    list-style-image: url('images/download.png');
}

download li {
  padding-bottom: 0.5em;
}

download size {
  color: darkgray;
  font-size: 0.8em;
}

screenshots a {
  margin-right: 1em;
  display: inline-block;
}

screenshots img {
  margin: 2px;
  border: 0;
  padding: 0;
}
